.container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.title {
    color: #72DB73;
    font-size: 6rem;
    font-weight: 600;
    margin: 0;
}

.subheading {
    font-size: 2rem;
    margin: 5px;
}

.msg {
    color: #cccccc;
    max-width: 500px;
    margin: 5px;
}

.btn {
    background-color: #72DB73;
    color: black;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    margin: 15px;
    text-decoration: none;
    cursor: pointer;
}

.btn:hover {
    color: white;
}