.container {
    background-color: hsla(232, 38%, 19%, 1);
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-radius: 20px;
    gap: 30px;
}

.timer {
    height: 6.5em;
    width: 6.5em;
    background-color: hsla(232, 39%, 16%, 1);
    border-radius: 50%;
    box-shadow: 0px 6px 26px 0px hsla(0, 0%, 0%, 0.61) inset, -3px -7px 16px 0px hsla(0, 4%, 36%, 0.23);
    margin: 10px 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-weight: 600;
    font-size: 2em;
    /* border: 6px solid hsla(0, 100%, 71%, 1); */
}

.timerChild {
    height: 90%;
    width: 90%;
}

.right {
    display: flex;
    flex-direction: column;
    width: 50%;
    align-items: center;
    gap: 5px;
}

.configure {
    width: 100%;
    display: flex;
    flex: 1;
    justify-content: space-evenly;
}

.setTime {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;

}

.time {
    font-size: 2.5em;
    font-weight: 300;
    font-family: Roboto;
}

svg.icon {
    font-size: 2em;
    color: hsla(0, 0%, 58%, 1);
    cursor: pointer;
}

.label {
    font-size: 1.25em;
    font-family: Roboto;
    color: hsla(0, 0%, 58%, 1);
}

.trigger {
    background-color: hsla(0, 100%, 71%, 1);
    width: 80%;
    border: none;
    border-radius: 20px;
    padding: 10px;
    color: white;
    font-weight: 500;
    font-size: 1.25em;
}